.allSide {
    width: 800px;
    margin: auto;
    padding: 50px;

    background-color: lavender;

    border: 1px solid;
}

h2,
h3 {
    color: brown;
}

img {
    position: absolute;
    top: 150px;
    left: 800px;
}
